body{
    padding: 0;
    margin: 0;
    background-image: url(https://media2.giphy.com/media/Fbox1ygIqnga5dLinz/giphy.gif);
    background-size: cover;
    background-repeat:no-repeat;
}
.menu{
    font-size: 150%;
    border-radius: 30px;
    margin-top: 20vh;
    margin-left: 80vh;
    color: white;
    display: flex;
    background-color: rgb(9, 34, 63);
    align-items: center;
    padding-bottom: 3%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu form{
    padding-bottom: 10%;
}
.menu button{
    font-size: 100%;
}

.menu input {
    font-size: 100%;
}
#comprar{
    transition: 1s;
}
#cancelar{
    transition: 1s;
}
#comprar:hover{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-galaxia-nebulosa-verde_469558-13755.jpg);
    color: white;
}
#cancelar:hover{
    background-image:url(https://s1.1zoom.me/big0/509/427255-Kycb.jpg) ;
    color: white;
}